
.gig-edit-background {
  background-image: url('../../resources/images/ProfileEdit/background2.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.gig-edit-container form {
  background-color: rgba(255, 255, 255, 0.285);
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.gig-edit-container form:hover{
  background-color: rgba(255, 255, 255, 0.56);
}
.gig-edit-container h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.gig-image {
  width: 150px;
  margin: 0 auto 15px auto;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.gig-edit-button {
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gig-edit-button:hover {
  background-color: darkgreen;
}

.cancel-link {
  padding: 5px 10px;
  color: white;
  background-color: green;
  border-radius: 4px;
  text-decoration: none;
}

.cancel-link:hover {
  background-color: darkgreen;
  text-decoration: underline;
}
